@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');




:root {
  --primaryblue: #179cf9;
  --white: #ffffff;
  --gray: #333;
  background-color: #06060a;
}


* {
  margin: 0;
  font-family: 'Quicksand';
  color: var(--white);
}

#homecontainer{
  max-width: 100%;
}

.navbar {
  background-color: transparent !important;
  display: block;
  position: relative;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  z-index: 10;
  transition: 0.5s;
}


.navbar.active{
  border-bottom: 2px solid var(--primaryblue) !important;
  background-color:var(--white) !important;
  border-bottom: 0;
  transition: 0.5s;
}

.navbar.active a, .navbar.active span{
  color: var(--primaryblue) !important;
  transition: 0.1s;
}

.navbar a , .navbar span{
  color: var(--white) !important;
  font-weight: 500;
  transition: 0.1s;
}

.navbar .dropdown-menu.show{
  background-color: transparent !important;
  border-color: transparent;
  transition: .1s;
}

.navbar.active .dropdown-menu.show{
  border-color: var(--white);
  background-color: var(--white) !important;
}

.nav-link{
  color: #333 !important;
}

/* nav.navbar{
  padding-inline: 25vw;
} */

.navbar .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='15' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.active .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(23, 156, 249, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='15' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.custom-toggler.navbar-toggler {
  border: 0;
  font-size: 20pt;
  line-height: 0 !important;
  --bs-navbar-color: transparent !important;
} 

.navbar h1 {
  font-weight: 500;
  color: var(--white) !important;
  transition: 0.5s;
}

.navbar.active h1{
  font-weight: 500;
  color: var(--primaryblue) !important
}

.navbar .links {
  font-size: 20pt;
  margin-left: auto;
}
.navbar a {
  font-family: 'Quicksand';
  font-size: 18pt;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar-brand h1{
  font-size: 20pt !important;
}

.navbar a:hover {
  transition: .2s;
  color: var(--primaryblue);
}

.content {
  margin: 40px auto;
  padding: 20px;
}

.home{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home h3 {
  font-size: 20pt;
}

.home h1 {
  font-size: 35pt;
}

#sqr, #sqr img{
  transition:  .4s;
  transition-timing-function: ease-out;
}

#sqr:hover{
  transition:  .4s;
  transition-timing-function: ease;
  color: var(--primaryblue) !important;
  background-color: var(--primaryblue) !important; 
}

#sqr h1{
  opacity: 0;
  transition: .4s;
  transition-timing-function: ease;
}

#sqr:hover h1{
  opacity: 1;
  transition: .4s;
  
}

#sqr:hover img{
  transition:  .4s;
  transition-timing-function: ease;
  opacity: 0;
}

#sqr2:hover {
  transition: .4s;
  background-color: rgba(45,45,45,.25) !important;
  color: rgba(45,45,45,.25);
}

#abm{
  font-size: 23pt;
}


#biggerh1s{
  font-size: 3rem;
}



@media (min-width: 768px){
  #abm{
    font-size: 35pt;
  }
  #biggerh1s{
    font-size: 4rem;
  }
  p{
    line-height: 3.5rem;
  }
}

#footercontainer {
  max-width: 100%;
  background-color: var(--primaryblue);
}
